[2018-07-12 15:21] ledoyen opened #9 "Policies"
Implement CRUD operations on policies, as defined here https://www.rabbitmq.com/parameters.html#policies

CRUD methods of Policies must be available on `MockConnectionFactory` as it makes no sense to have the opened/closed semantics of a `Connection` or even a `Channel` when it comes to Policy definition.

Policies will affect only the following extensions (the other being not implemented):
* alte

[2018-07-12 15:22] ledoyen opened #10 "Queue Length Limit"
Implement the queue length limit as defined in https://www.rabbitmq.com/maxlength.html

This feature is enabled only by x-args.

Policy definition will be instruct in by #9.

[2018-07-12 15:24] ledoyen opened #11 "Priority Queue Support"
Implement priority queue as defined in https://www.rabbitmq.com/priority.html

This feature is enabled only by x-args.

Policy definition will be instruct in by #9.

[2018-07-17 20:07] #10 closed

[2018-07-17 22:33] #11 closed

[2018-10-16 12:46] madmuffin1 opened #17 "default exchange name is "default" instead of """
When publishing a message to the default exchange using

https://github.com/fridujo/rabbitmq-mock/blob/b78abc7005e0241eda5e583e015b9cfc4015191e/src/main/java/com/github/fridujo/rabbitmq/mock/exchange/MockDefaultExchange.java#L16-L19

the exchangeName is set to "default". According to the [documentation](https://www.rabbitmq.com/tutorials/amqp-concepts.html#exchange-default) the name of the default

[2018-10-16 13:00] ledoyen commented on #17
Indeed, that is a bug.

Thanks for pointing this one up.

I will shortly apply a fix.

[2018-10-16 14:58] ledoyen commented on #17
Fixed in version **1.0.6**

[2018-10-16 14:58] #17 closed

[2018-11-20 15:48] alecl opened #25 "Spring Cloud Bus mocking?"
Can this be configured to work through the Spring Cloud Bus abstraction to Rabbit?

[2018-11-20 16:56] ledoyen commented on #25
TL;DR yes it should.

I am not familiar with **spring-cloud-bus** however, it seems that:
- **spring-cloud-bus** make use of RabbitMQ through **spring-cloud-stream-binder-rabbit**
- this particular library binds the **spring-rabbit** `ConnectionFactory` with the  *auto configuration `RabbitMessageChannelBinderConfiguration`

So in theory, in you just have to override the bean definition of `org.sp

[2018-12-08 20:50] ledoyen commented on #25
@alecl I have provided a sample to show how **rabbitmq-mock** can be used to mock underlying **spring-cloud-bus** broker, see #26.

**rabbitmq-mock** do the job, the tricky part of this exercice was to mock the `RestTemplate` used by `ConfigServicePropertySourceLocator` as it is used very early in the context lifecycle. This had to be done using **initializers** (`ApplicationContextInitializer`).

[2018-12-08 20:53] #25 closed

[2018-12-26 10:56] selivonchyk opened #28 "Message expiration after dead lettering"
Assuming system has the following configuration.
T1 --B1--> Q1 ==> T2 --B2--> Q2
* T1 - topic exchange
* Q1 - queue that has dead letter exchange configured to T2
* B1 - binding between T1 and Q1
* T2 - another topic exchange that is a dead-letter exchange for Q1
* Q2 - another queue
* B2 - binding between T2 and Q2

Steps:
1. message with some TTL is posted to topic exchange T1
2. message is deli

[2018-12-26 17:55] ledoyen commented on #28
Thanks for reporting this. I will look into it as soon as possible.

[2019-01-02 13:48] ledoyen commented on #28
I was able to track down two issues :
- *dead-lettering* was not working (until a basic_get is performed) for queue without consumer
- message expiration was not computed right for *per-message-TTL*

See added tests for samples.

@selivonchyk Let me know if this solves your issue (SNAPHOTs are available on Sonatype repo).
If not, please provide more details (a JUnit test would be great).

[2019-01-05 22:59] #28 closed

[2019-01-14 15:47] selivonchyk commented on #28
@ledoyen, thank you for the fix. Validated it using SNAPSHOT build. Described scenario above works fine.
Updated logging was very useful.

[2019-01-15 06:01] ledoyen commented on #28
Thank you for the feedback. A release will be available soon

[2019-01-18 14:35] vencivenc opened #30 "Failed to declare queue"
Hello,

I'm using spring boot version **2.1.2.RELEASE**, **amqp-client:5.4.3** and **rabbitmq-mock:1.0.9**.
When I try to mock the RabbitMQ Connection Factory like the showed example:
[code]
I'm receiving error `org.springframework.amqp.rabbit.listener.BlockingQueueConsumer$DeclarationException: Failed to declare queue(s):[****(name of queue)]`

I was using this library with spring boot version **

[2019-01-18 16:09] ledoyen commented on #30
Sure, I will take a look a soon as possible.
In the mean time, you can check with minimal setup if the issue you face can be reproduced with the integration project dedicated to spring-boot : https://github.com/fridujo/rabbitmq-mock/tree/master/src/it/spring_boot

[2019-01-18 16:34] ledoyen commented on #30
I do not reproduce any errors with the versions you mentioned.
Here is the build log of the it/spring-boot integration project with the **v2.1.2.RELEASE** [build.log](https://github.com/fridujo/rabbitmq-mock/files/2773727/build.log)

You may have a way of interracting with **rabbitmq-mock** that is not convered yet, but I will need more data to reproduce it (stacktrace, sample code, etc.).

[2019-01-18 18:31] vencivenc commented on #30
Hey @ledoyen, thank you for the fast response.
I have created you a simple repo. You can check it here https://github.com/vencivenc/rabbitmq-mock-test
Also, I use JDK 11.0.2 osx x64

[2019-01-18 20:15] ledoyen commented on #30
@vencivenc it seems that the error is related to how admin beans are declared.

Using such declaration `@Bean public List<Declarable> ...` will lead `applicationContext.getBeansOfType(Queue.class)` to return zero matching beans, even if there are beans of type `Queue` in the returned list.
This is exactly the code `RabbitAdmin#initialize` uses to create these queues that are declared through Sprin

[2019-01-19 09:40] vencivenc commented on #30
Hey, @ledoyen. I cannot find the PR?

[2019-01-19 12:20] ledoyen commented on #30
@vencivenc yes I created a patch through the website for the first time, and must have missed something.
The PR is now available https://github.com/vencivenc/rabbitmq-mock-test/pull/1/files

[2019-01-19 17:58] vencivenc commented on #30
@ledoyen Thank you ! Everything works just perfect now. Really appreciate you help.

[2019-01-19 17:58] #30 closed

[2019-01-25 16:19] matheussl22 opened #31 "No started transaction using Spring"
I'am imput depedence on pom.xml and a created Bean to connectionFactory(), but I have stacktrace: No started transaction (make sure you called txSelect before txRollback.
I have problem just when going exec the second test with rabbitmq.

I'm using Spring and Junit.

Bean:
[code]

Error validade:
[code]

any help?

[2019-01-25 19:55] ledoyen commented on #31
The code you quoted emulates the behavior of RabbitMQ, that is, when you try to **commit** or **rollback** a transaction without initiating it.

You may have encountered a bug, but I will need more context elements to figure it out.
So stacktrace, sample code, sample test, etc. are welcome.

[2019-01-28 18:50] matheussl22 commented on #31
<java.lang.IllegalStateException: No started transaction (make sure you called txSelect before txCommit
	at com.github.fridujo.rabbitmq.mock.MockChannel.txCommit(MockChannel.java:535)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAc

[2019-02-11 19:30] #31 closed

[2019-03-12 08:05] janssk1 opened #34 "declaring exchange multiple times resets it"
RMQ allows multiple parties to declare the same exchange.

'exchange.declare' documentation in the AMQP spec:

"This method creates an exchange if it does not already exist, and if the exchange exists, verifies that it is of the correct and expected class."

The mock implementation recreates the exchange on each declare, loosing all bindings.

[2019-03-12 08:39] ledoyen commented on #34
Thanks for reporting this.

I will look into that as soon as possible.

[2019-03-12 17:14] #34 closed

[2019-03-12 17:15] ledoyen commented on #34
A new release will be available soon.

[2019-03-14 07:56] janssk1 commented on #34
Thanks for the quick fix. Works like a charm!

[2019-05-06 02:38] saisurya-k opened #37 "Is this mock supported for Spring-Boot 1.5.x projects ?"
I'm trying `rabbitmq-mock` for a spring boot **1.5.12** project built with **apache-camel**.
`amqp-client` version is 4.0.3 which is a supported version as per your documentation.
However when I tried to use this in my project(tried 1.0.10, 1.0.0 and 1.0.7), I got ClassNotFound exception in all cases, all those classes are from different versions of `com.rabbitmq:amqp-client`
Hence I would like to

[2019-05-06 07:36] ledoyen commented on #37
Thanks for the feedback, the goal is indeed (among others) to support older versions **amqp-client**.

This may be a bug, I will look into it as soon as possible.

In the meantime, could you try using `MockConnectionFactoryFactory.build()` instead of `new MockConnectionFactory()` ?

[2019-05-06 11:58] ledoyen commented on #37
Tested, and it worked, see https://github.com/fridujo/rabbitmq-mock/pull/38 for demo.

[2019-05-06 12:00] saisurya-k commented on #37
Thanks a lot for quick response, will take a look and get back to you

[2019-05-24 05:54] ledoyen commented on #37
Closing due to lack of feedback.

[2019-05-24 05:54] #37 closed

[2019-06-05 21:30] lessonz opened #42 "Can't Receive Messages When Custom MessageConverter In Use"
Perhaps I'm misattributing my failures, but when we moved to using a Jackson2JsonMessageConverter, we're seeing some failures that would seem to indicate our listeners aren't using the configured MessageConverter. I looked through the source, but it's not readily apparent to me where that would happen. Did I miss something?

[2019-06-06 06:45] ledoyen commented on #42
Hi, thanks for the feedback

**rabbitmq-mock** has no coupling with Spring, it is only a substitute for **amqp-client**.

So in theory, changing Spring configuration should not affect the behavior of the mock.

Could you provide a sample project that reproduce the issue you face ?

In the mean time, I will provide as soon as possible a working sample which integrates with a Spring `MessageConverte

[2019-06-06 21:32] lessonz commented on #42
So very sorry. It turns out this was 100% user error and the properly configured message converter was NOT being injected appropriately. This was never an rabbitmq-mock issue.

[2019-06-06 21:32] #42 closed

[2019-06-06 21:59] ledoyen commented on #42
Happy you solved your issue.

[2019-08-09 14:06] gr423 opened #43 "x-death headers are not added to the message when its Dead lettered ."
Hi Team ,

On application exception i'm Dead lettering the message  .( channel.basicNack with requeue false)

When i try to consume the message from DLQ, the messages does not have the x-death headers .

[2019-08-12 17:44] ledoyen commented on #43
Hi, thanks for the feedback.

It may be a bug, but I am currently on vacations and cannot look into that until september.

In the meantime if you feel like proposing a fix, do not hesitate !

[2019-08-14 07:02] mdiasribeiro opened #44 "On stream restart, the mock stops working"
I got the following set-up:
`Producer actor -> Akka stream -> alpakka-amqp -> Consumer akka stream`

When I restart either stream (which implies draining the stream, canceling upstream and completing downstream, and then creating a new stream with the same `AmqpConnectionProvider` and configs), the mock stops working with the new stream.

Using `messageCount` and `consumerCount` on the used channe

[2019-08-14 19:21] ledoyen commented on #44
Hi, thanks for the feedback, It's great to know that this tool is used with an akka stack 😄

I am currently on vacations, and answering from my mobile phone. I will be able to look at this issue in september.

In the meantime, if you want to look further by yourself, my clue would be to look at the two methods `close` and `notifyDeleted` in thé `MockQueue` classe which interrupt the delivery loop

[2019-08-15 09:05] mdiasribeiro commented on #44
Thanks for the response. It might indeed be the delivery loop being interrupted. I enabled debug logging, and I still see messages being published normally, but they no longer get delivered to the consumer.

[2019-08-16 11:50] gr423 commented on #43
Hi Ledoyen ,

Here is the attached MockQueue.java file , adding the x-death headers .

I couldn't  perform the JUnit test , as i was getting the below error ,

java.lang.NoClassDefFoundError:
org/junit/platform/launcher/core/LauncherFactory

I would try testing at my end .

Please check if the logic of adding the x-death headers seems fine .

Thanks and Regards,
Ramya S

On Mon, Aug 12, 2019 at 11

[2019-08-16 18:52] ledoyen commented on #43
You should be able to run tests from the CLI using Maven.

Responding to the github email does not seems to support attached files. Besides Git is a more useful tool for sharing code. What I meant was, please make a PR :)

Besides, with a PR, tests will also be runned by Travis CI.

[2019-08-19 09:35] gr423 commented on #43
Hi Ledoyen ,

I've created the pull request .

Please validate it .

Thank you ,
Ramya S

On Sat, Aug 17, 2019 at 12:22 AM Loïc Ledoyen <notifications@github.com>
wrote:

[2019-09-13 10:25] ledoyen commented on #43
@gr423 Sorry for the delay, I hope you did not loose interrest on the project though :smiley:
I was unable to push on your fork, so I took the liberty to push the review on a new branch.
See #47.

I will merge it next week, or sooner if you are OK with the PR.

[2019-09-13 12:04] gr423 commented on #43
Hi Ledoyen  ,

Thanks for rewriting it  .

Yeah it looks fine .

Regards,
Ramya S

On Fri, Sep 13, 2019 at 3:55 PM Loïc Ledoyen <notifications@github.com>
wrote:

[2019-09-13 12:36] ledoyen commented on #43
@gr423 I wil try to solve #44 quickly, before making a release.
However, if #44 appears to be too much work, I will perform a release without it, so you can have the #43 fixed asap.

[2019-09-13 12:36] #43 closed

[2019-09-13 12:55] gr423 commented on #43
I can wait for the fix.I have some buffer.

Regards,
Ramya

On Fri, 13 Sep 2019, 6:06 pm Loïc Ledoyen, <notifications@github.com> wrote:

[2019-09-13 12:56] ledoyen opened #48 "Add contribution guidelines"
Same coding guidelines as existing, PR/issue content, tests bugs and features, etc.

spotless ?

[2019-09-13 20:18] ledoyen commented on #44
@mdiasribeiro Sorry for the delay, I hope you did not loose interrest on the project though :smiley:

I was able to mimic the behavior you describe using a simple Alpakka build (See 9b71d359eb1fa37a8cfe6040580f7d9e9afd3ae3 for details).

Please let me now if 4b5755d14a9b90f85653eacc186a3470ef8439ef fixes your issue.

[2019-09-16 10:02] mdiasribeiro commented on #44
Thank you for the update! I will check if it resolves our issue and get back to you.

[2019-09-16 20:52] ledoyen commented on #44
Yes, from the Sonatype repo.

[2019-09-17 12:03] mdiasribeiro commented on #44
@ledoyen Thanks again for the update.
It does fix part of our issue, so great, we can work around it! However, it does not quite work as we expected.
We have the following set-up in tests:

1. Create a global MockConnectionFactory and a AmqpConnectionProvider out of it;
2. Pass it along to our system (with the alpakka streams set-up);
3. Use it to connect probes (producers and consumers) to do bla

[2019-09-17 16:08] ledoyen commented on #44
Yes you are right, closing connection should not stop the mock.
The root state of the mock (`MockNode`) is stored in the `ConnectionFactory` object.

Could you provide a sample project demonstrating the behavior you describe ?
You can modify the setup https://github.com/fridujo/rabbitmq-mock/tree/master/src/it/alpakka if that helps.

Thanks in advance,

[2019-09-25 12:36] mdiasribeiro commented on #44
Hi there, sorry about the delay.
Managed to make a small reproducible example of one failure situation, although I suspect it might not be the only behavior I'm experiencing.

You can find it on the repository:  https://github.com/mdiasribeiro/rabbitmq-mock-bugreport

I've managed to reduce it to not even using akka-streams at all. It seems that akka-streams ends up killing the connection on the p

[2019-09-25 13:32] ledoyen commented on #44
Hi, thanks for taking the time to supply a test to work with.

I will try to fix that asap (this week I hope).

[2019-10-10 18:30] pawelebe opened #50 "Nacked and redelivered messages do not have redelivery flag set to true"

[2019-10-11 07:15] #50 closed

[2019-10-11 09:42] ledoyen commented on #44
Should be working fine now, thanks again for providing a test about this issue.

[2019-10-11 09:42] #44 closed

[2019-10-11 10:27] #48 closed

[2019-10-11 16:24] ledoyen commented on #43
@gr423 the changes we made together are shipped in version **1.0.12**, sorry for the delay.

[2019-10-14 12:53] mdiasribeiro commented on #44
@ledoyen Thanks for the update! Preliminary testing looks promising and seems to show that our issues have been fixed. I'll be running tests over the week to confirm and ensure there are no further issues.
Thanks!

[2019-11-19 18:31] FabianoLothor opened #58 "Spring Cloud Stream not Working"
Your mock example works like a charm, but I have an issue about it. Maybe you can help me.

I have one output channel configured using spring cloud stream.

When the output is called, the message counter isn't called.

Basically, I have the AMQPMocked and the Spring Cloud Stream isn't using it.

How can I configure this correctly?

[2019-11-19 19:19] FabianoLothor commented on #58
My `app.yml`

[code]

My `AmqpAppTestConfig.java`

[code]

In My `FooTest.java` I have something similar to

[code]

[2019-11-21 12:34] ledoyen commented on #58
Hi,
Thanks for the interest in the project.
I am no expert in **spring-cloud**, but your test configuration seems OK, even though `connectionFactory.setPort(5672);` is not necessary.
However, when configuring output destinations, be aware that  `RabbitAdmin` will be used to create matching **Exchanges** (of type **_topic_**), not _queues_.

To store messages, you need to bind these exchanges to on

[2019-11-21 12:48] FabianoLothor commented on #58
I already found the problem.

Thank you for reply.

More information about the solution is here: https://github.com/spring-cloud/spring-cloud-stream/issues/1847#event-2815540658

[2019-11-21 12:58] #58 closed

[2019-11-22 09:57] Marthym opened #59 "RPC support"
Do you plan to support RPC exanches ?

Actually in the code

[code]

[2019-11-22 19:58] ledoyen commented on #59
I did not know that there was a need for that :smiley:

I do not see any problem for implementing this, except I do not have much time to actually do it (given that it will require some refactoring in existing stubs to avoid duplicating logic).

I will be happy to review any PRs if you want to give this a try.

[2019-12-10 22:51] janssk1 opened #71 "Channels can be committed only once."
I'm using mock rmq with transactions using spring. Spring is reusing channels, even across transactions but the mockchannel fail big time the second time a 'reused' channel is committed. See below.

AFAIK, a channel can be commited multiple times, without requiring another txSelect
[code]

[2019-12-11 08:46] ledoyen commented on #71
Hi,
Thank you for reporting this.
I am working on it and get back to you soon.

[2019-12-11 09:15] #71 closed

[2019-12-11 09:40] ledoyen commented on #71
@janssk1 I just made a release (1.0.13) with the fix for this bug.
It should be available in Maven central within 2 hours.
Please let me know if it works for you.

[2019-12-11 13:35] janssk1 commented on #71
@ledoyen , the fix works. Thanks for the quick turnaround.

[2019-12-11 13:36] janssk1 opened #73 "Deleting unexisting queue causes NPE"
Whereas the method should be **idempotent**.
Stacktrace:
[code]

[2019-12-12 09:27] ledoyen commented on #73
I pushed a fix.
It will be available in the snapshot repository (see [using the latest snapshot](https://github.com/fridujo/rabbitmq-mock#using-the-latest-snapshot)).

Let me know if this works for you.

[2019-12-17 16:49] yuryfunikov opened #78 "Any plans to support direct reply-to feature?"
More details here https://www.rabbitmq.com/direct-reply-to.html

[2019-12-18 15:09] ledoyen commented on #78
Welcome and thanks for your interest in the project.

Yes. The purpose of this project is to be able to mimic as many features from RabbitMQ  as possible.

If you feel like it, you can make a PR about it.
If not, I can make itit a short delay (as it will require little time).

[2019-12-25 22:59] yuryfunikov commented on #78
PR is ready https://github.com/fridujo/rabbitmq-mock/pull/82

[2020-01-20 19:05] asomov opened #87 "Backdoor to queues"
The test examples send and receive messages from the same queue. In practice often an application receives messages from one queue and sends them to another.
**Are there plans to implement direct access to the MockQueue and its messages ?**
Use case: application only sends messages to queue1. In the test run the code and check that the messages in MockQueue which mocks queue1 contain the expected

[2020-01-25 12:40] ledoyen commented on #87
This is a good idea.

Initial design was to think of a routing system that allow testing even with a real RabbitMQ.
Something like specific routing-key ending up in a test-instance exclusive queue.

But if you need this, why not.
Is it ok if it is a read-only access ?

[2020-01-25 14:36] asomov commented on #87
1. I think as the first step read-only is enough. I can try to help the develop and test
2. We will need write access for the use case when the application to test is listening to a queue and then in the test we can directly inject a message to MockNode instead of using standard RabbitMQ interface.
3. I do not think this project should work with the  real RabbitMQ. We have testcontiners for that.

[2020-01-30 13:55] janssk1 opened #91 "Add support for mandatory flag"
Would be nice if mandatory flag is respected. Right now (1.0.14-SNAPSHOT) it is just ignored.
When using the recently added direct-reply combined with 'mandatory' there is even an exception:

[code]

[2020-02-09 22:00] ledoyen commented on #73
Closed without feedback.

[2020-02-09 22:00] #73 closed

[2020-02-09 22:02] ledoyen commented on #78
Merged, see #82.

[2020-02-09 22:02] #78 closed

[2020-02-09 22:03] ledoyen commented on #91
Support for `returnListeners` added in #93

[2020-02-09 22:03] #91 closed

[2020-02-19 11:36] twahage opened #96 "Messages must be consumed before another Message is published"
For a spring boot test case i do send multiple messages to an exchange routing to an single queue in a test setup.
While verifying the messages in the queue only the first message can be consumed. Any further rabbitTemplate.receive() calls for the remaining messages deliver null (with a sufficient timeout). The tests do work though if i immediately  consume messages after sending before publishing

[2020-02-19 12:19] ledoyen commented on #96
Hello,

Thanks for reporting this.
Could you provide more details, ideally a JUnit test to demonstrate the behavior ?

I tried to reproduce what you describes in #97 but it seems to work.

[2020-02-20 10:02] twahage commented on #96
Hello,

thanks for the quick reply!
Sure, below is a unit test that does reproduce the error. Details about the Environment are

- java 8
- spring-boot-starter-parent: 2.1.7.RELEASE
- amqp-client: 5.4.3
- and using junit 5

I did try it on another project though with following specs, which actually works:

- java 11
- spring-boot-starter-parent: 2.1.9.RELEASE
- amqp-client: 5.4.3
- and also using

[2020-03-03 12:41] joeltoby opened #102 "MockChannel: Overridden methods do not declare exceptions"
### Issue summary:

Methods in MockChannel which override Channel interface methods do not declare the same exceptions.  For example, `basicAck` does not declare an `IOException`:

Channel:
[code]

MockChannel:
[code]

### Why it matters:

Without the declared exceptions, it is not possible to mock throwing of the checked exception.  Example / use-case:

[code]

Due to the undeclared exception, th

[2020-03-04 12:23] ledoyen commented on #102
Hello and thanks for your insterrest in this project !

I think your use-case is valid, but why use **rabbitmq-mock** for it ?

Can't you roll with amqp-client interfaces only ? Something like:
[code]

Maybe I am missing your point though.

[2020-03-04 12:28] ledoyen commented on #96
Sorry for the late response, I will add these cases in IT as soon as I can.

Thanks for providing test-cases !

[2020-03-04 15:52] joeltoby commented on #102
Thanks for the response / suggestion Loïc.  That's actually a really good point.  There is no reason for me not to just do it amqp-client interfaces!

The other tests for this component, required `rabbitmq-mock` so I just didn't think of not using it for this test.

[2020-03-04 17:36] ledoyen commented on #102
I am glad that you do not have an issue after all.

However if you need to compose Mockito and rabbitmq-mock with spy for different scenarios, we can still change signatures.

I feel like there should be a way to inject this kind of behavior in rabbitmq-mock to trigger custom behavior based on specific exceptions. This could be useful to test recovery on error scenarios.

@joeltoby, I let you clos

[2020-03-05 13:13] joeltoby commented on #102
@ledoyen - that sounds reasonable.  I'm happy to update the sigs if that helps (and then close the issue)?  If you'd prefer to leave it for now, I'll just close.

[2020-03-06 12:36] ledoyen commented on #102
If you do not need it, just close :smile:

[2020-03-06 13:09] ledoyen commented on #96
Hi,

It's a bug !
When using `RabbitTemplate#receive(String, long)` **Spring-Rabbit** is in fact creating a consumer.
This Consumer will get delivered with all messages available in that queue.
**Spring-Rabbit** will then ack the first one, as it is only interested in one message, then it cancels the consumer.

However when cancelled, unacked messages stay unacked, whereas they should become avail

[2020-03-06 14:21] #102 closed

[2020-03-19 17:11] twahage commented on #96
Thanks for the information and your effort!

I will eagerly await that fix :)
In the meanwhile i would also try to find some fix or workaround and keep you up to date over this communication channel.

[2020-05-12 03:49] Yasushi opened #117 "MetricCollector.consumedMessage is called incorrectly."
In rabbitmq-java-client, consumedMessage is called before handleDelivery.

https://github.com/rabbitmq/rabbitmq-java-client/blob/v5.9.0/src/main/java/com/rabbitmq/client/impl/ChannelN.java#L452-L460

But in mock, consumedMessage is called after it.

https://github.com/fridujo/rabbitmq-mock/blob/1b162cb9947925ad69d594a1849c1fcf764a6606/src/main/java/com/github/fridujo/rabbitmq/mock/MockQueue.java#L

[2020-05-12 06:03] ledoyen commented on #117
Hi, thanks for reporting this.

This is indeed a bug.

[2020-05-23 08:09] #117 closed

[2020-05-23 16:43] ledoyen commented on #87
@asomov `MockQueue` is now exposed by `MockChannel`.

However regarding point 2 I think that for now, publishing messages to queues is pretty straightforward with amqp-client API.

Regarding point 3, that is not what I meant. The purpose of this project is to supply a fast and testable mock of RabbitMQ. However by designing a system to be testable either with the mock or with a real implementation

[2020-05-23 16:43] #87 closed

[2020-05-23 16:45] #96 closed

[2020-05-23 17:13] ledoyen commented on #117
@Yasushi this should be fixed in release **1.1.0**

[2020-05-23 17:14] ledoyen commented on #96
@twahage this should be fixed in release **1.1.0**

[2020-05-23 17:14] ledoyen commented on #87
@asomov this should be available in release **1.1.0**

[2020-07-01 21:30] RedMu opened #125 "MockQueue should not use declaring channel for metrics"
When trying to use the MockConnectionFactory for integration tests for a Spring Boot application I noticed that metrics were not complete when using a transaction manager.  Upon further investigation I noticed MockQueue stores the MockChannel used to create it.  It subsequently uses this in deliverToConsumerIfPossible to register consumption.

This means that acknowledgements are not recorded in A

[2020-07-01 21:59] RedMu commented on #9
I've started working on this

[2020-07-01 22:00] RedMu opened #127 "x-consistent-hash implementation has divide by zero error when no routing key is specified"

[2020-07-01 23:10] RedMu commented on #127
Had to mock up a test case to prove this, ConsistentHashExchange.routingKeyToWeight should throw an IllegalArgumentException rather than trying to return the Hashcode of a non numeric routing key which is not possible on RabbitMQ.  When no routing key is specified the weight is returned as 0 which later fails with a divide by zero in selectReceiver.

[2020-07-03 17:30] ledoyen commented on #127
Hi @RedMu, thanks for spotting this.

I agree that no `ArithmeticException` should be thrown when publishing to a **x-consistent-hash** bound with a routingKey hashed to 0.

However I wonder what is the behavior of RabbitMq in this situation ?

I will make the test whenever I can find the time to do it.

[2020-07-03 17:35] ledoyen commented on #9
Hi again @RedMu, thanks for your work !

I created it while ago, but at that time no one really needed it so I let it go stale.

I wonder, is this a feature you need in projects ?

[2020-07-03 18:22] RedMu commented on #127
Hi Ledoyen,

I made a quick test, when you try to bind without a binding key you get an IOException with the following:

2020-07-03 19:17:18,815 ERROR org.springframework.amqp.rabbit.connection.CachingConnectionFactory [AMQP Connection 127.0.0.1:5672] : Channel shutdown: channel error; protocol method: #method<channel.close>(reply-code=406, reply-text=PRECONDITION_FAILED - The binding key must be

[2020-07-03 18:27] RedMu commented on #9
No problem, I've found the library very useful so I'm happy to contribute.

I would like to implement the x-modulus-hash exchange but it only really makes sense with policies in place so when I saw this issue I thought I'd get it done.  I've got a few more tests to finish up for alternative exchange, dead letter exchange and dead letter routing key and I'll push it back for you to see.

I'll need

[2020-07-03 18:32] RedMu commented on #59
I have a usecase for this, so I could pick this up.

[2020-07-07 20:37] RedMu opened #130 "x-modulus-hash exchange"
Requires #9 to implement sharding via policies

[2020-07-16 09:41] KayWu opened #133 "MockChannel don't clear transaction when rollback"
MockChannel reuses transaction when rollback, which leaves wrong published messages in transaction.

[code]

[2020-07-16 09:48] KayWu commented on #133
I raised a PR https://github.com/fridujo/rabbitmq-mock/pull/134

[2020-07-16 18:38] #125 closed

[2020-07-16 18:38] ledoyen commented on #125
Merged #126.

[2020-07-16 18:41] ledoyen commented on #133
In the future, don't bother opening an issue and a PR if you plan to propose a fix, the PR is sufficient (and very welcome, thank you again)

[2020-07-21 03:09] #133 closed

[2020-07-21 08:25] mdiasribeiro opened #137 "RoutingKey does not follow spec for topic exchanges"
When using a topic exchange, the official RMQ tutorial states that:

This means that a Queue bound to an Exchange with the RoutingKey '_something.#_' should be able to match a message with a RoutingKey '_something_'. This is, as expected, also the behavior on a real RMQ system. **On the mock however, the hash matches against 1 or more words (instead of 0 or more).** I believe the culprit is **Mock

[2020-07-21 16:39] ledoyen commented on #137
Hi, thanks for spotting this.

Indeed the matching algorithm have been written during the earliest ages of the lib and needs to be improved.

[2020-07-21 22:35] ledoyen commented on #137
@mdiasribeiro Could you confirm that new test cases are okay for you ?
https://github.com/fridujo/rabbitmq-mock/blob/cd010e713fe2a9c8c2d2459d4e0ee1d7e6c7a3c0/src/test/java/com/github/fridujo/rabbitmq/mock/exchange/ExchangeTest.java#L106-L116

https://github.com/fridujo/rabbitmq-mock/blob/cd010e713fe2a9c8c2d2459d4e0ee1d7e6c7a3c0/src/test/java/com/github/fridujo/rabbitmq/mock/exchange/ExchangeTest.j

[2020-07-22 06:39] mdiasribeiro commented on #137
They look fine to me

[2020-07-22 18:48] #137 closed

[2020-09-09 11:04] shark300 opened #156 "Multiple reject/ack call should throw precondition failed"
I tried to deploy our application to staging environment and I assumed it will work without exception/warning because I have tested some error cases in ITs regarding to message rejecting too. Unfortunately, I have got some warning:

"Channel shutdown: channel error; protocol method: #method<channel.close>(reply-code=406, reply-text=PRECONDITION_FAILED - unknown delivery tag 1, class-id=60, method-

[2020-09-11 07:04] ledoyen commented on #156
Hi, thanks for reporting this.

A fix will be supplied as soon as I get the time to do it.

It is the perfect opportunity to setup a new kind of test were the test is played twice with a real rabbitmq and with the mock to assert that the behavior is consistent.

[2020-09-11 09:24] fighterhit opened #157 "com.github.fridujo.rabbitmq.mock.exchange.FixDelayExchange doesn't exist but the test import it"
`com.github.fridujo.rabbitmq.mock.exchange.FixDelayExchange` doesn't exist but the test import it in `src/test/java/com/github/fridujo/rabbitmq/mock/spring/SpringIntegrationTest.java`

[2021-01-15 11:42] vstoyanov opened #181 "MockFanoutExchange constructor accessibility"
Hello everyone,

First of all thank you to the maintainers for your amazing piece of software - it has saved us tons of time and seems to be quite nicely extensible.

Is there a reason why com.github.fridujo.rabbitmq.mock.exchange.MockFanoutExchange.MockFanoutExchange() is protected?

I only want to implement a delegating "x-delayed-message" mock where the underlying exchange type is defined by "x

[2021-01-15 20:39] ledoyen commented on #181
Hello :wave:

Thanks for your compliments, it is a pleasure !

I guess the initial motivation for keeping the constructor of `MockFanoutExchange` `protected` is to encourage creating a subclass of `BindableMockExchange` or one of its existing subclass when in need of a new exchange type.

You can find an implementation of a delaying exchange in tests (cf https://github.com/fridujo/rabbitmq-mock/bl

[2021-06-17 21:17] DarekDan opened #214 "INFO REQ: How does one test the shutdown listener"
I am looking for advice how would anyone go about testing a shutdown listener. For example:

[code]

Is it possible to mock such behavior during test?

[2021-06-18 06:54] ledoyen commented on #214
Hello,

From what I understarnd, there is two behaviors that you could test :
* assert that a shutdown listener is indeed called on connection closing, this kind of test is an integration one, as you assert that the library you use (`com.rabbitmq.amqp-client`) behave as expected
* assert the behavior of the shutdown listener itself, in this case you do not need a `Connection`, only to create a `Sh

[2021-06-18 09:48] DarekDan commented on #214
That's what I ended up doing, added a new handler type and tested it in isolation. Thank you for your suggestion as well.

[2021-06-18 09:49] #214 closed

[2021-08-19 09:34] hjohn opened #229 "Multiple bindings which only differ in binding arguments not working correctly"
We discovered that when creating two queue bindings on the same exchange which only differ in binding arguments that rabbit mock will not deliver messages to the queue for all of the possible bindings (ie, one of the bindings simply does not work despite a message being delivered to the exchange with correct arguments).

This is because the BindConfigurations are at some point compared and its equ

[2021-10-25 05:07] skrityak opened #248 "Message with empty routing key does not go to queue bounded to topic exchange with "#" routing key."
It's stated in the rabbitmq document -- https://www.rabbitmq.com/tutorials/tutorial-five-python.html that

However the rabbitmq-mock library does not route message with empty ("") routing key to the queue.

[2021-11-24 10:39] hjohn opened #257 "Bindings for header exchanges which test for the *presence* of a header are not mocked correctly"
Please see this PR: https://github.com/fridujo/rabbitmq-mock/pull/256

For example for a `RabbitListener` defined like this:

                    @QueueBinding(
                            arguments = {
                                    @Argument(name = "my-header") // check for presence of the header, value is irrelevant
                            },
                            exchange = @Exc

[2021-12-07 05:55] sozgat commented on #157
Hello @fighterhit ,

I had same errors and fixed.

Find code block in SpringIntegrationTest.java

[code]

and change it like below

[code]

[2021-12-07 10:22] fighterhit commented on #157
Thank you @sozgat , I will try it later.

[2022-01-31 13:10] kamaubrian opened #271 "Issue Mocking Delayed Message Exchange"
I am using a delayed exchange and been trying to mock it. I am getting the following

`Caused by: java.lang.IllegalArgumentException: No exchange type x-delayed-message
	at com.github.fridujo.rabbitmq.mock.exchange.MockExchangeFactory.build(MockExchangeFactory.java:31)
	at com.github.fridujo.rabbitmq.mock.MockNode.exchangeDeclare(MockNode.java:58)
	at com.github.fridujo.rabbitmq.mock.MockChannel.e

[2022-01-31 13:15] ledoyen commented on #271
Hi,
as a feature that is not built in RabbitMQ but comes from a [plugin](https://github.com/rabbitmq/rabbitmq-delayed-message-exchange), it is not available by default in the mock either.

You need to register such an exchange through the `Configuration`.

[2022-03-30 12:47] hanzo2001 opened #281 "New RabbitMQ Streams Feature"
As of RabbitMQ 3.9 there is a new feature called Streams.

I was testing a small setup that I have with Apache Camel and **RabbitMQ Streams** until I found a configuration that works. I then chose to swap the ConnectionFactory with the Mock version. Almost everything works as expected but I will leave the few details that this mocking tool might want to add.

Regarding declaration, there is a new

[2022-03-31 08:44] hanzo2001 commented on #281
### Fork with branch

As a follow up, I forked the project and I have a branch that has started the implementation of this new feature. It is a very naive implementation that reuses a lot of the existing code. My intention is that the feature behaves like the tests should describe (in code) but I am missing quite a few.

- stream acts as a fanout for all consumers
- all consumers of a stream can s

[2022-05-10 14:21] piotrwielgolaski-tomtom opened #289 "Unstable delivery in when more than one consumer is used"
In my case I have 5 consumer register for queue, all works file in 90% of cases.
Occassionally it crash in MockQueue::deliverToConsumerIfPossible with NPE.
1/ NPE is not catch and whole delivery is broken
2/ map from https://github.com/fridujo/rabbitmq-mock/blob/e6971136c711efe0f6e822f19769f23b5a42dd4e/src/main/java/com/github/fridujo/rabbitmq/mock/MockQueue.java#L46 is unstable it say it has size

[2022-05-11 09:13] ledoyen commented on #289
Hello @piotrwielgolaski-tomtom , thank you for reporting this.

Could you provide a sample test that demonstrates the issue ? (even if it is flaky and should not fail most of the time)

Thank you !

[2022-07-05 17:09] lz000 opened #303 "rabbitTemplate receive() does not dequeue message"
I have this simple test. As you can see, calling `rabbitTemplate.receive()` did not remove message from the queue, although the same message was received every time I called this method. This issue does not happen if I hook to a real rabbitmq

[code]

[2022-09-06 18:38] hjohn opened #316 "`MockQueue` uses unsynchronized `LinkedHashMap`s which can cause `ConcurrentModificationException` or halts message consumption"
The `MockQueue` class has many unsynchronized `LinkedHashMap`s.  Any access, even read access like calling `size()` that may occur on different threads must be synchronized or the JVM is free to cache these values for the current thread.  This can cause for example a message that is being received by a queue almost simultaneously with a consumer being added to be not delivered (and delivery can st

[2022-09-07 08:35] ledoyen commented on #316
Hello @hjohn, sorry for not responding to your previous requests.

The project is not really abandoned, it is just that I have no time currently to take care of it.

I do need help, as I think this project can still (hello testcontainers) help some people / project.

I just reviewed your two previous PRs, could you please make the changes, I will be happy to merge them.

After that, if you want, i

[2022-09-08 08:34] hjohn commented on #316
Added a fix for this in #318

[2022-10-18 19:15] ledoyen commented on #289
Should be fixed with #318

[2022-10-18 19:15] #289 closed